.imdb_header{
    background-color: #121212;
    min-height: 40px;
    display:flex;
    padding: 5px;
}
.imbd_hinner{
    width: 100%;
    margin: 0px auto;
    display: flex;
}
.imbd_hinner label{
    margin-bottom: 0;
}
.imdb_logo{
    width: 100px;    
    height: 40px;
    position: relative;
    order:1;   
}
img{
    max-width: 100%;
}
.ipc-icon {
    vertical-align: middle;
}
.imdb_menu{
    color:#ffffff;
    margin-left: 20px;
    padding-top: 5px;
    order:2;    
    width:100px;
    height: 40px;
}
.search_container{
    width:100%;
    order:3;    
    position: relative;
}
.search_select{
    width:100px;
}
.search_field{
    width:100%;
}
.imdb_pro{
    color:#ffffff;
    margin-left: 20px;
    padding-top: 5px;
    order:4;    
    width:120px;
    height: 40px;
}
.imdb_watchlist{
    color:#ffffff;
    margin-left: 20px;
    padding-top: 5px;
    order:5;    
    width:140px;
}
.imdb_signin{
    color:#ffffff;
    margin-left: 20px;
    padding-top: 5px;
    order:6;    
    width:100px;
}
.imdb_menu_content{
    background-color: #1f1f1f;
    position: fixed;
    left: 0;
    top: 0;
    right:0;
    z-index: 99;
    min-height: 300px;
    color:#ffffff;
    padding: 20px 0;
    text-align: left;
}
.menu_close{
    position: absolute;
    right:0;
    top:15px;
    width:30px;
    height:30px;
    border-radius: 30px;
    background-color: #f5c518;
    color:#000000;
    font-size: 1.2em;
    text-align: center;
    line-height: 24px;
    cursor: pointer;
    transition: all .5s ease-in-out;    
}
.imdb_nav_title{
    font-size: 22px;
    font-weight: bold;
}



